nextflow.enable.dsl=2
google.batch.bootDiskSize = "1000GB"


$AUTOSCALE_MEMORY = true
process {
    errorStrategy = 'retry'
    maxRetries    = 2
}

params.samplesheet = "" //* @input @single_file @editor:{"type":"spreadsheet","filename":"samplesheet.tsv","separator":"tab","default":[["sample_name", "xenium_path"]]}

//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "quay.io/ummsbiocore/spaceranger:3.1.2"
    $SINGULARITY_IMAGE = "quay.io/ummsbiocore/spaceranger:3.1.2"
}
//* autofill
