nextflow.enable.dsl=2
google.batch.bootDiskSize = "1000GB"
aws.client.maxConnections = 8
aws.client.connectionTimeout = 100000

$AUTOSCALE_MEMORY = true


profiles {
  docker { 
        process.container = "quay.io/ummsbiocore/scrna-seurat-v5:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        docker.enabled = true 
        docker.runOptions = "-v ${params.DOWNDIR}:${params.DOWNDIR}" 
            
  }
}


